.collections-main {
    padding: 2rem 0;
}

.collections-container {
    gap: 0;
    margin: 2rem 0;
}

.collection {
    margin: .65rem 0;
    width: 48%;
    cursor: pointer;

    &:hover {
        .background-black-img {
            opacity: 0;
        }

        .collection-name {
            color: $orange;
        }
    }
}

.collection__img {
    min-width: 100%;
    height: 80%;
    border-radius: 10px;

    img {
        border-radius: inherit;
    }
}

.collection-name {
    padding: .2em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    font-weight: 600;

    transition: $transition;
}

@media screen and (min-width: 768px) {
    .collection {
        width: 32%;
    }
}